.about-page {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 1.75rem; 
}

.about-page-text {
  margin-bottom: 1.75rem;
}

.about-page a {
  text-decoration: none;
  color: inherit;
}

.about-page a:hover {
  text-decoration: none;
  color: inherit;
}
