.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(255, 183, 0);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}